header {
  &.top-header-outer{
    width: 100%;
    min-height: 39px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .top-header-inner-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;

      .icons {
        width: 50%;
      }

      .top-menu {
        width: 50%;

        ul  {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;

          li {
            list-style: none;

            a {
              display: block;
              font-size: 15px;
              padding: 1em;

              &:last-child {
                padding-right: 0;
              }
            }
          }
        }
      }
    }

  }

  &.main-header-outer {
    width: 100%;
    height: 90px;

    .main-header-inner-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;


      .logo-section {
        width: 30%;

        img {
          width: 169px;
        }
      }

      .main-navigation {
        width: 68%;
        height: 100%;

        nav {
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;

          ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;

              li {
                list-style: none;
                display: block;

                a {
                  display: block;
                  font-size: 17px;
                  text-transform: uppercase;
                  padding: 1em;

                  &:last-child {
                    padding-right: 0;
                  }
                }
              }
          }

        }

      }

    }

  }

}
